@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
* {
  margin: 0;
  padding: 0;
}

.bg-navbar-mr {
  background-color: rgba(22, 34, 94, 0.9490196078);
}
.bg-navbar-mr .logo {
  width: 100px;
}
.bg-navbar-mr ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 18px;
  margin-left: 30px;
}
.bg-navbar-mr ul li {
  padding: 15px;
}
.bg-navbar-mr ul li a {
  font-family: "Bangers", system-ui;
  color: whitesmoke;
}

h1 {
  font-size: 50px;
  margin: 20px;
  font-family: "Bangers", system-ui;
  color: rgb(31, 51, 97);
  text-align: center;
}

h2 {
  font-family: "Bangers", system-ui;
  color: rgb(31, 51, 97);
  text-align: center;
  font-size: 35px;
  margin: 20px;
}

h3 {
  font-family: "Bangers", system-ui;
  color: rgb(31, 51, 97);
  text-align: center;
}

h4 {
  font-family: "Bangers", system-ui;
  color: rgb(31, 51, 97);
  text-align: center;
}

h5 {
  color: rgb(0, 0, 0);
  font-family: "Bangers", system-ui;
  text-align: center;
  font-size: 25px;
}

p {
  color: rgb(25, 24, 24);
  font-family: "Bangers", system-ui;
  font-size: 25px;
  margin: 10px;
  padding: 8px;
}

.contacto {
  padding: 20px;
  text-align: start;
}
.contacto h1 {
  margin-bottom: 30px;
  padding-bottom: 30px;
}
.contacto h1 p {
  margin: 10px 0;
}

.card {
  margin: 10px;
}
.card .card-img {
  width: 100%;
  height: 500px;
}
.card .card-title-offer {
  font-family: "Bangers", system-ui;
  color: rgba(255, 255, 255, 0.782);
  text-decoration: underline;
  font-size: 60px;
  text-align: end;
}
.card .card-text-offer {
  font-family: "Bangers", system-ui;
  color: rgba(255, 255, 255, 0.782);
  font-size: 40px;
  text-align: end;
}
.card .card-title-new {
  font-family: "Bangers", system-ui;
  color: rgba(255, 255, 255, 0.782);
  font-size: 60px;
  text-align: center;
}
.card .card-text-new {
  font-family: "Bangers", system-ui;
  color: rgba(255, 255, 255, 0.782);
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}
.card .card-title {
  font-family: "Bangers", system-ui;
  color: rgba(255, 255, 255, 0.782);
  font-size: 60px;
  margin-top: 100px;
  text-align: center;
}
.card .card-text {
  font-family: "Bangers", system-ui;
  color: rgba(255, 255, 255, 0.782);
  font-size: 40px;
  text-align: center;
}
.card .card-offer {
  font-family: "Bangers", system-ui;
  color: rgba(255, 255, 255, 0.782);
  font-size: 35px;
  text-align: start;
  margin-top: 2px;
}

.container-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  margin-left: 10px;
}
.container-products .container-product {
  border-radius: 2px;
}
.container-products .container-product .img-product, .container-products .container-product .card-product .img-offer {
  width: 100%;
  height: 300px;
}
.container-products .container-product .img-product:hover, .container-products .container-product .card-product .img-offer:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.container-products .container-product .card-product {
  padding: 10px;
  margin: 10px;
}
.container-products .container-product .card-product .card-text-product {
  font-family: "Bangers", system-ui;
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.container-products .container-product .card-product .precio, .container-products .container-product .card-product .text-decoration-line-through {
  color: rgb(19, 105, 105);
  margin: 2px;
  padding: 2px;
}
.nosotros {
  width: 60%;
  display: block;
  margin: 0 auto;
}
.nosotros:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.mapa {
  width: 100%;
  height: 70vh;
  display: block;
  margin: 0 auto;
}
.mapa iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.img-medidas {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
}

.button, .button-enviar, .button-offer {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 7px 14px;
  background-color: rgb(19, 19, 72);
  border-radius: 1px;
}
.button:hover, .button-enviar:hover, .button-offer:hover {
  background-color: rgb(31, 51, 97);
}

.button-enviar {
  background-color: rgb(19, 105, 105);
}
.button-enviar:hover {
  background-color: rgb(2, 71, 192);
}

.navbar-toggler {
  color: rgba(255, 255, 255, 0.455);
  background-color: rgba(1, 189, 236, 0.388);
}

.my-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.my-row .carousel {
  position: relative;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.my-row .carousel .img-carousel {
  width: 100%;
  height: 40vh;
  display: block;
}
.my-row .carousel .arrow-prev, .my-row .carousel .arrow-next {
  width: 5vh;
  height: 5vh;
}
.my-row .carousel .arrow-prev:hover, .my-row .carousel .arrow-next:hover {
  background-color: rgba(0, 0, 0, 0.201);
}
footer {
  background-color: rgba(22, 34, 94, 0.9490196078);
}
footer p {
  font-family: "Bangers", system-ui;
  font-size: 25px;
  color: aliceblue;
  text-align: center;
}

@media (max-width: 430px) {
  .bg-navbar-mr ul {
    margin-left: 0;
    justify-content: space-around;
  }
  .bg-navbar-mr ul li {
    padding: 10px;
    text-align: center;
  }
  .bg-navbar-mr ul li a {
    font-size: 14px;
  }
  .my-row .carousel {
    width: 100%;
  }
  .my-row .carousel .img-carousel {
    height: 55vh;
    object-fit: cover;
  }
  .card .card-title-offer {
    margin: 30px;
    padding: 40px;
    font-size: 30px;
    text-align: center;
  }
  .card .card-text-offer {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  .card .card-title-new {
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }
  .card .card-text-new {
    font-size: 25px;
    text-align: center;
  }
  .card .card-title {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
  }
  .card .card-text {
    font-size: 18px;
    text-align: center;
  }
  .card .card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .container-products {
    margin: 5px;
  }
  .container-products .container-product .card-product .card-text-product {
    font-size: 13px;
    text-align: center;
  }
  .container-products .container-product .img-product {
    width: 100%;
    height: 370px;
    object-fit: cover;
  }
  .card-text-product {
    font-size: 15px;
    text-align: center;
  }
  .img-simbolo {
    width: 50px;
    height: 50px;
  }
  .nosotros {
    object-fit: cover;
    height: 33vh;
  }
  .mapa {
    height: 50vh;
  }
  .img-medidas {
    width: 100%;
  }
  h1 {
    font-size: 30px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 12px;
    text-align: center;
  }
  h4 {
    font-size: 15px;
  }
  h5 {
    font-size: 20px;
    text-align: center;
  }
  p {
    font-size: 17px;
  }
  .info {
    font-size: 8px;
  }
  .info-trust {
    display: flex;
    flex-direction: column;
  }
  .footer {
    font-size: 12px;
    text-align: center;
  }
}
@media (min-width: 430px) and (max-width: 768px) {
  .bg-navbar-mr ul {
    margin-left: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .bg-navbar-mr ul li {
    padding: 10px;
    text-align: center;
  }
  .bg-navbar-mr ul li a {
    font-size: 16px;
  }
  .my-row .carousel {
    width: 80%;
  }
  .my-row .carousel .img-carousel {
    height: 45vh;
  }
  .card .card-title-offer {
    margin: 5px;
    padding: 5px;
    font-size: 40px;
    text-align: end;
  }
  .card .card-text-offer {
    margin: 35px;
    padding: 35px;
    font-size: 35px;
    text-align: center;
  }
  .card .card-title-new {
    margin: 15px;
    padding: 15px;
    font-size: 40px;
  }
  .card .card-text-new {
    font-size: 25px;
    text-align: center;
    padding-top: 12vh;
  }
  .card .card-title {
    font-size: 40px;
  }
  .card .card-text {
    font-size: 25px;
  }
  .card .card-img {
    width: 100%;
    height: 475px;
    object-fit: cover;
  }
  .container-products {
    margin: 5px;
  }
  .container-products .container-product .card-product .card-text-product {
    font-size: 15px;
  }
  .container-products .container-product .img-product {
    width: 100%;
    height: 250px;
  }
  .card-text-product {
    font-size: 15px;
    text-align: center;
  }
  .img-simbolo {
    height: 60px;
    object-fit: contain;
  }
  .nosotros {
    object-fit: cover;
    height: 45vh;
  }
  .mapa {
    height: 35vh;
  }
  .img-medidas {
    width: 60%;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 15px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
  .info {
    font-size: 10px;
  }
  .footer {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
